<h1>Sales Data Analysis</h1>
  <form action="/results">
    <div class="form-group">
      <label for="item">Calculates the grand total of sales for a given item across all stores in Kenya.</label>
      <input id="item" name="item" type="string" class="form-control"></input>
    </div>
    <button type="submit" class="btn-success">Send</button>
  </form>
